[submodule "webui-source"]
	path = webui/source
	url = https://github.com/BililiveRecorder/BililiveRecorder-WebUI.git
[submodule "test-data"]
	path = test/data
	url = https://github.com/BililiveRecorder/test-data.git
