<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BililiveRecorder.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <BililiveRecorder.WPF.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RoomIDs" serializeAs="String">
                <value />
            </setting>
            <setting name="Clip_Future" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Clip_Past" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Feature" serializeAs="String">
                <value>0</value>
            </setting>
        </BililiveRecorder.WPF.Properties.Settings>
    </userSettings>
</configuration>