<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net462" />
  <package id="CommandLineParser" version="2.4.3" targetFramework="net462" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net462" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net462" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NLog" version="4.5.10" targetFramework="net462" />
  <package id="NLog.Config" version="4.5.10" targetFramework="net462" />
  <package id="NLog.Schema" version="4.5.10" targetFramework="net462" />
  <package id="NuGet.CommandLine" version="4.7.1" targetFramework="net462" developmentDependency="true" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net462" />
  <package id="Splat" version="1.6.2" targetFramework="net462" />
  <package id="squirrel.windows" version="1.9.0" targetFramework="net462" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net462" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net462" />
</packages>