<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.5.0-rc07" targetFramework="net462" />
  <package id="NLog.Config" version="4.5.0-rc07" targetFramework="net462" />
  <package id="NLog.Schema" version="4.5.0-rc07" targetFramework="net462" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net462" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net462" />
</packages>